<div class="text-center mt-3"><h1> <img 
    src="https://firebasestorage.googleapis.com/v0/b/covid2-87561.appspot.com/o/virus.png?alt=media&token=c310e349-0a3c-45b2-948c-4f9bd14b7a5f" 
    alt="virus"
    style="width:8%"
    />
    COVID-19</h1>
<h2> Live uptdates and statistics</h2>
<div class = "row">
    <div class = "col-sm-6"> <a routerLink="/AddNews" >Add News</a></div>
    <div class = "col-sm-6"> <button class="btn btn-info" (click)="covidService.signInWithGoogle()">Sign in with Google Account</button> </div>
</div>


<div class="my-3" style="text-align: center; background-color: black; color: white">
    <p><a routerLink="">Worldwide</a> > {{ name }} </p>
</div>

</div>
<div class = "row">
    <div class = "col-sm-6"> <h5> {{covidService.getUser().displayName}} </h5> </div>
    <div class = "col-sm-6"> <button class="btn btn-info" (click)="covidService.signOut()"> Sign out</button> </div>

</div><br><br><br>

<div class="text-center mt-3">
    <h3> Corona Virus Summary in {{name}}</h3>
</div>

<div class ="my-3" >
    <table class="table table-bordered table-stripped">
        <thead>
            <tr style="background-color: #fae8e8A1;">
                <th colspan="2">Corona in {{name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: #ffe945A1;">
                <td>Total Cases</td>
                <td>{{ country_data.TotalConfirmed }}</td>
            </tr>
            <tr style="background-color: #ffe945A1;">
                <td>New Cases</td>
                <td>{{ country_data.NewConfirmed }}</td>
            </tr>
            <tr style="background-color: #ffe945A1;">
                <td>Active Cases</td>
                <td>{{ country_data.ActiveCase}}</td>
            </tr>
            <tr style="background-color: #45a8ffA1;">
                <td>Total Recovered</td>
                <td>{{ country_data.TotalRecovered}}</td>
            </tr>
            <tr style="background-color: #45a8ffA1;">
                <td>New Recovered</td>
                <td>{{ country_data.NewRecovered }}</td>
            </tr>
            <tr style="background-color: #45a8ffA1;">
                <td>Recovery Rate</td>
                <td>{{ country_data.RecoveryRate }}%</td>
            </tr>
            <tr style="background-color: #ff4545A1;">
                <td>Total Deaths</td>
                <td>{{ country_data.TotalDeath }}</td>
            </tr>
            <tr style="background-color: #ff4545A1;">
                <td>New Deaths</td>
                <td>{{ country_data.NewDeath }}</td>
            </tr>
            <tr style="background-color: #ff4545A1;">
                <td>Mortality Rate</td>
                <td>{{ country_data.DeathRate }}%</td>
            </tr>
        </tbody>
    </table>
</div>

<br><br><br>
<app-pie-chart [home]="home"></app-pie-chart>

<br><br><br>

<app-daily [home]="home"></app-daily><br><br><br>

<app-line-chart [home]="home"></app-line-chart>

<br><br><br><br><br><br>
<div class="text-center">
    <table class="table table-bordered">
        <thead class="text-center">
            
                <th colspan="4">Corona Virus news in {{ name }}</th>
            
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Country</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let new of news">
                <td>{{new.date.toDate() | date}}</td>
                <td>{{new.description}}</td>
                <td>{{new.country}}</td>
                <td>{{new.displayName}}</td>
            </tr>
        </tbody>
    </table>
</div>